<!-- <div class="container-fluid">
    <div class="container">
        <nav class="nav justify-content-center  ">
          <a class="nav-link active" href="#" aria-current="page">Active link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled link</a>
        </nav>
    </div>
</div> -->

<ul *ngFor="let item of userDetail">
    <li>{{item.name}}</li>
    <li>{{item.email}}</li>
    <li>{{item.phone}}</li>
   
</ul>

<div *ngFor="let item of navitem">
    <h1>{{item}}</h1>
</div>